/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    text-align: center;
}
p {
    font-size: 25px;
}

.big {
  font-size: 70px;
  transform: translate(25%, 75%);
}

.tile {
    border-radius: 0px;
    color: grey;
    height: 80px;
    width: 80px;
    font-size: 50px;
    margin: 15px;
}

.blank {
    color: blue;
    background-color: blue;
    height: 80px;
    width: 80px;
    margin: 15px;
}

.letter {
    color: white;
    background-color: black;
    height: 80px;
    width: 80px;
    text-align: center;
    vertical-align: center;
    font-size: 50px;
    margin: 15px;
}

.endscreen {
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
